<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.ApplicationMetaMapper">


    <!-- application meta fetching -->
    <select id="getApplicationMeta" resultMap="applicationMeta" statementType="CALLABLE">
        {CALL cfe_18.retrieve_application_meta(#{param1})}
    </select>
    <resultMap type="com.teragrep.cfe18.handlers.entities.ApplicationMeta" id="applicationMeta">
        <result property="application" column="application"/>
        <result property="application_meta_key" column="application_meta_key"/>
        <result property="application_meta_value" column="application_meta_value"/>
    </resultMap>


    <!-- adding a new applicationMeta -->
    <select id="addNewApplicationMeta" resultMap="insertedIDAppMeta" statementType="CALLABLE">
        {CALL
        cfe_18.add_application_meta(#{param1},#{param2},#{param3})}
    </select>
    <resultMap id="insertedIDAppMeta" type="com.teragrep.cfe18.handlers.entities.ApplicationMeta">
        <result property="application" column="application"/>
    </resultMap>


</mapper>

