<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.CaptureIndexMapper">

    <!-- GET ALL -->
    <select id="get" resultMap="getMap" statementType="CALLABLE">
        {CALL cfe_18.select_all_indexes(#{param1})}
    </select>

    <resultMap id="getMap" type="java.util.HashMap">
        <result property="id" column="id" javaType="java.lang.Integer"/>
        <result property="captureIndex" column="capture_index" javaType="java.lang.String"/>
    </resultMap>


</mapper>

