<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.CaptureMapper">

    <!-- insert cfe                         (meta_tag VARCHAR(48), retention_time VARCHAR(255),
                                                meta_category VARCHAR(48), application VARCHAR(48),
                                                capture_index VARCHAR(48), source_type VARCHAR(255),
                                                app_protoc VARCHAR(64), flow VARCHAR(255),
                                                tag_path VARCHAR(255), capture_path VARCHAR(255),
                                                file_processing_id INT) -->
    <select id="createFile" resultMap="id" statementType="CALLABLE">
        {CALL
        cfe_18.insert_file_capture(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8},#{param9},#{param10},#{param11})}
    </select>

    <!-- insert relp                        ( meta_tag VARCHAR(48), retention_time VARCHAR(255),
                                                meta_category VARCHAR(48), application VARCHAR(48),
                                                capture_index VARCHAR(48), source_type VARCHAR(255),
                                                app_protoc VARCHAR(64), flow VARCHAR(255) ) -->
    <select id="createRelp" resultMap="id" statementType="CALLABLE">
        {CALL
        cfe_18.insert_relp_capture(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6},#{param7},#{param8})}
    </select>


    <!-- select cfe                         ( capture_id INT, tx_id INT ) -->
    <select id="getCfe" resultMap="getCfe" statementType="CALLABLE">
        {CALL cfe_18.select_cfe_capture(#{param1},#{param2})}
    </select>
    <resultMap type="com.teragrep.cfe18.handlers.entities.CaptureFile" id="getCfe">
        <result property="id"                       column="id"/>
        <result property="tag"                      column="tag"/>
        <result property="retentionTime"            column="retention"/>
        <result property="category"                 column="category"/>
        <result property="application"              column="application"/>
        <result property="index"                    column="captureIndex"/>
        <result property="sourceType"               column="sourcetype"/>
        <result property="protocol"                 column="L7"/>
        <result property="flow"                     column="flow"/>
        <result property="type"                     column="type"/>
        <result property="tagPath"                  column="tagpath"/>
        <result property="capturePath"              column="capturepath"/>
        <result property="fileProcessingTypeId"     column="processing_type_id"/>
    </resultMap>

    <!-- select relp                        ( capture_id INT, tx_id INT )  -->
    <select id="getRelp" resultMap="getRelp" statementType="CALLABLE">
        {CALL cfe_18.select_relp_capture(#{param1},#{param2})}
    </select>
    <resultMap type="com.teragrep.cfe18.handlers.entities.CaptureRelp" id="getRelp">
        <result property="id"                   column="id"/>
        <result property="tag"                  column="tag"/>
        <result property="retentionTime"        column="retention_time"/>
        <result property="category"             column="category"/>
        <result property="application"          column="application"/>
        <result property="index"                column="captureIndex"/>
        <result property="sourceType"           column="source_type"/>
        <result property="protocol"             column="L7"/>
        <result property="flow"                 column="flow"/>
        <result property="type"                 column="type"/>
    </resultMap>


    <!-- GET ALL CFE captures               ( tx_id INT ) -->
    <select id="getAllCfe" resultMap="allCfe" statementType="CALLABLE">
        {CALL cfe_18.select_all_cfe_captures(#{param1})}
    </select>
    <resultMap id="allCfe" type="com.teragrep.cfe18.handlers.entities.CaptureFile">
        <result property="id"                       column="id"/>
        <result property="tag"                      column="tag"/>
        <result property="retentionTime"            column="retention"/>
        <result property="category"                 column="category"/>
        <result property="application"              column="application"/>
        <result property="index"                    column="captureIndex"/>
        <result property="sourceType"               column="sourcetype"/>
        <result property="protocol"                 column="L7"/>
        <result property="flow"                     column="flow"/>
        <result property="type"                     column="type"/>
        <result property="tagPath"                  column="tagpath"/>
        <result property="capturePath"              column="capturepath"/>
        <result property="fileProcessingTypeId"     column="processing_type_id"/>
    </resultMap>

    <!-- GET ALL RELP captures              ( tx_id INT ) -->
    <select id="getAllRelp" resultMap="allRelp" statementType="CALLABLE">
        {CALL cfe_18.select_all_relp_captures(#{param1})}
    </select>
    <resultMap id="allRelp" type="com.teragrep.cfe18.handlers.entities.CaptureRelp">
        <result property="id"                   column="id"/>
        <result property="tag"                  column="tag"/>
        <result property="retentionTime"        column="retention"/>
        <result property="category"             column="category"/>
        <result property="application"          column="application"/>
        <result property="index"                column="captureIndex"/>
        <result property="sourceType"           column="sourcetype"/>
        <result property="protocol"             column="L7"/>
        <result property="flow"                 column="flow"/>
        <result property="type"                 column="type"/>
    </resultMap>


    <!-- Delete                             ( capture_id INT ) -->
    <select id="delete" statementType="CALLABLE">
        {CALL cfe_18.delete_capture(#{param1})}
    </select>


    <!-- ID resultmap -->
    <resultMap id="id" type="com.teragrep.cfe18.handlers.entities.CaptureDefinition">
        <result property="id"                       column="id"/>
    </resultMap>

</mapper>

