<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.CaptureGroupLinkageMapper">


    <!-- insert link  ( capture_group_id INT, capture_id INT ) -->
    <select id="create" resultType="Integer" statementType="CALLABLE">
        {CALL cfe_18.insert_capture_to_group(#{param1},#{param2})}
    </select>

    <!-- getCaptures    (capture_group_id INT, tx_id INT) -->
    <select id="getCaptures" resultMap="captureIds" statementType="CALLABLE">
        {CALL cfe_18.select_captures_in_group(#{param1},#{param2})}
    </select>
    <resultMap id="captureIds" type="com.teragrep.cfe18.handlers.entities.CaptureGroups">
        <result property="id"      column="capture_definition_id"/>
    </resultMap>

    <!-- getGroups  (capture_def_id INT, tx_id INT)-->
    <select id="getGroups" resultMap="groupIds" statementType="CALLABLE">
        {CALL cfe_18.select_groups_for_capture(#{param1},#{param2})}
    </select>
    <resultMap id="groupIds" type="com.teragrep.cfe18.handlers.entities.CaptureGroups">
        <result property="id"      column="capture_group_id"/>
    </resultMap>

    <!-- getAll ( tx_id INT ) -->
    <select id="getAll" resultMap="getAllMap" statementType="CALLABLE">
        {CALL cfe_18.select_all_captures_in_groups(#{param1})}
    </select>

    <!-- FlatMap implementation to map values as is. Variable is returned, column is from database select query -->
    <resultMap id="getAllMap" type="java.util.HashMap">
        <result property="groupId" column="capture_group_id" javaType="java.lang.Integer"/>
        <result property="type" column="type" javaType="java.lang.String"/>
        <result property="flowId" column="flow_id" javaType="java.lang.Integer"/>
        <result property="capture_def_ids" column="capture_defs"/>
    </resultMap>

    <!-- DELETE link ( capture_id INT, capture_group_id INT ) -->
    <select id="delete" statementType="CALLABLE">
        {CALL cfe_18.delete_capture_from_group(#{param1},#{param2})}
    </select>

</mapper>

