<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.CaptureGroupMapper">


    <!-- Insert group               ( group_name VARCHAR(255), type VARCHAR(255) )-->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL cfe_18.insert_capture_group(#{param1},#{param2})}
    </select>

    <!-- Link capture to group      ( capture_id INT, capture_group_id INT )-->
    <select id="createLink" resultMap="insertedID" statementType="CALLABLE">
        {CALL cfe_18.insert_capture_to_group(#{param1},#{param2})}
    </select>


    <!-- get group                  ( capture_group_id INT, tx_id INT ) -->
    <select id="get" resultMap="group" statementType="CALLABLE">
        {CALL cfe_18.select_capture_group(#{param1},#{param2})}
    </select>
    <resultMap id="group" type="com.teragrep.cfe18.handlers.entities.CaptureGroup">
        <result property="id"                       column="id"/>
        <result property="captureGroupName"         column="group_name"/>
        <result property="captureGroupType"         column="capture_type"/>
    </resultMap>

    <!-- get captures in group      ( capture_group_id INT, tx_id INT ) -->
    <select id="getCaptures" resultMap="capture" statementType="CALLABLE">
        {CALL cfe_18.select_captures_in_group(#{param1},#{param2})}
    </select>
    <resultMap id="capture" type="com.teragrep.cfe18.handlers.entities.CaptureGroup">
        <result property="captureDefinitionId"      column="capture_definition_id"/>
    </resultMap>


    <!-- GET ALL                    ( tx_id INT ) -->
    <select id="getAll" resultMap="all" statementType="CALLABLE">
        {CALL cfe_18.select_all_capture_groups(#{param1})}
    </select>
    <resultMap id="all" type="com.teragrep.cfe18.handlers.entities.CaptureGroup">
        <result property="id"                       column="id"/>
        <result property="captureGroupName"         column="group_name"/>
        <result property="captureGroupType"         column="group_type"/>
    </resultMap>


    <!-- Delete                     ( capture_group_id INT ) -->
    <select id="delete" statementType="CALLABLE">
        {CALL cfe_18.delete_capture_group(#{param1})}
    </select>

    <!-- Delete capture from group ( capture_id INT, capture_group_id INT ) -->
    <select id="deleteCapture" statementType="CALLABLE">
        {CALL cfe_18.delete_capture_from_group(#{param1},#{param2})}
    </select>


    <!-- ID return map -->
    <resultMap id="insertedID" type="com.teragrep.cfe18.handlers.entities.CaptureGroup">
        <result property="id"                       column="id"/>
    </resultMap>

</mapper>

