<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.FileProcessingTypeMapper">

    <!-- fetch processing type by name -->
    <select id="getFileProcessingTypeByName" resultMap="processingType" statementType="CALLABLE">
        {CALL cfe_18.retrieve_processing_type_by_name(#{param1},#{param2})}
    </select>
    <resultMap type="com.teragrep.cfe18.handlers.entities.FileProcessing" id="processingType">
        <result property="inputtype" column="inputtype"/>
        <result property="template" column="template"/>
        <result property="ruleset" column="ruleset"/>
        <result property="inputvalue" column="inputvalue"/>
        <result property="name" column="name"/>
    </resultMap>


    <!-- Insert new one -->
    <select id="addNewFileProcessingType" resultMap="insertedName" statementType="CALLABLE">
        {CALL
        cfe_18.insert_file_processing_type(#{arg0},#{arg1},#{arg2},#{arg3},#{arg4})}
    </select>
    <resultMap id="insertedName" type="com.teragrep.cfe18.handlers.entities.FileProcessing">
        <result property="name" column="name"/>
    </resultMap>

    <!-- GET ALL -->
    <select id="getAllFileProcessingTypes" resultMap="allProcessingType" statementType="CALLABLE">
        {CALL cfe_18.retrieve_all_processing_types(#{param1})}
    </select>
    <resultMap id="allProcessingType" type="com.teragrep.cfe18.handlers.entities.FileProcessing">
        <result property="name" column="name"/>
        <result property="inputtype" column="inputtype"/>
        <result property="inputvalue" column="inputvalue"/>
        <result property="ruleset" column="ruleset"/>
        <result property="template" column="template"/>
    </resultMap>

    <!-- delete -->
    <select id="deleteFileProcessingType" statementType="CALLABLE">
        {call cfe_18.remove_processing_type(#{param1})}
    </select>


</mapper>

