<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.HostMapper">

    <!-- Insert host  ( proc_MD5 VARCHAR(32), proc_fqhost VARCHAR(128), proc_hub_fq VARCHAR(128) )  -->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL
        location.insert_cfe_host(#{param1},#{param2},#{param3})}
    </select>

    <!-- Insert relp  ( proc_MD5 VARCHAR(32), proc_fqhost VARCHAR(128) ) -->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL
        location.insert_relp_host(#{param1},#{param2})}
    </select>


    <!-- get    ( proc_host_id INT, tx_id INT ) -->
    <select id="get" resultMap="getCfe" statementType="CALLABLE">
        {CALL cfe_00.select_cfe_host(#{param1},#{param2})}
    </select>
    <resultMap id="getCfe" type="com.teragrep.cfe18.handlers.entities.HostCfe">
        <result property="id"               column="id"/>
        <result property="md5"              column="host_md5"/>
        <result property="fqHost"           column="host_fq"/>
        <result property="hubId"            column="hub_id"/>
        <result property="hostName"         column="host_name"/>
        <result property="hostMetaId"       column="host_meta_id"/>
        <result property="hubFq"            column="hub_fq"/>
    </resultMap>

    <!-- get    ( proc_host_id INT, tx_id INT ) -->
    <select id="get" resultMap="getRelp" statementType="CALLABLE">
        {CALL cfe_00.select_relp_host(#{param1},#{param2})}
    </select>
    <resultMap id="getRelp" type="com.teragrep.cfe18.handlers.entities.HostRelp">
        <result property="id"               column="id"/>
        <result property="md5"              column="host_md5"/>
        <result property="fqHost"           column="host_fq"/>
        <result property="hostName"         column="host_name"/>
        <result property="hostMetaId"       column="host_meta_id"/>
    </resultMap>


    <!-- GET ALL Cfe  ( tx_id INT ) -->
    <select id="getAll" resultMap="allCfe" statementType="CALLABLE">
        {CALL location.select_all_cfe_hosts(#{param1})}
    </select>
    <resultMap id="allCfe" type="com.teragrep.cfe18.handlers.entities.HostCfe">
        <result property="id"               column="id"/>
        <result property="md5"              column="host_md5"/>
        <result property="fqHost"           column="host_fq"/>
        <result property="hubId"            column="hub_id"/>
        <result property="hostName"         column="host_name"/>
        <result property="hostMetaId"       column="host_meta_id"/>
        <result property="hubFq"            column="hub_fq"/>
    </resultMap>

    <!-- GET ALL Relp  ( tx_id INT ) -->
    <select id="getAll" resultMap="allRelp" statementType="CALLABLE">
        {CALL location.select_all_relp_hosts(#{param1})}
    </select>
    <resultMap id="allRelp" type="com.teragrep.cfe18.handlers.entities.HostRelp">
        <result property="id"               column="id"/>
        <result property="md5"              column="host_md5"/>
        <result property="fqHost"           column="host_fq"/>
        <result property="hostName"         column="host_name"/>
        <result property="hostMetaId"       column="host_meta_id"/>
    </resultMap>


    <!-- Delete Relp  ( proc_host_id INT ) -->
    <select id="deleteRelp" statementType="CALLABLE">
        {CALL location.delete_relp_host(#{param1})}
    </select>

    <!-- Delete Cfe  ( proc_host_id INT ) -->
    <select id="deleteCfe" statementType="CALLABLE">
        {CALL location.delete_cfe_host(#{param1})}
    </select>


    <!-- ID return map -->
    <resultMap id="insertedID" type="com.teragrep.cfe18.handlers.entities.HostRelp">
        <result property="id"       column="id"/>
    </resultMap>

</mapper>

