<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.HostGroupMembersMapper">

    <!-- CREATE  p_host_group_id INT, p_host_id INT -->
    <select id="create" resultType="Integer" statementType="CALLABLE">
        {CALL
        cfe_18.insert_host_to_group(#{param1},#{param2})}
    </select>



</mapper>

