<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.HostMetaMapper">

    <!-- insert                     ( p_arch VARCHAR(255), p_flavor VARCHAR(255),
                                     p_hostname VARCHAR(255),
                                     p_host_id INT, p_os VARCHAR(255),
                                     p_release_ver VARCHAR(255) ) -->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL cfe_03.insert_host_meta(#{param1},#{param2},#{param3},#{param4},#{param5},#{param6})}
    </select>

    <!-- get                        ( proc_host_meta_id INT, tx_id INT ) -->
    <select id="get" resultMap="HostMeta" statementType="CALLABLE">
        {CALL cfe_03.select_host_meta(#{param1},#{param2})}
    </select>
    <resultMap id="HostMeta" type="com.teragrep.cfe18.handlers.entities.HostMeta">
        <result property="id"               column="id"/>
        <result property="arch"             column="arch"/>
        <result property="releaseVersion"   column="release_version"/>
        <result property="flavor"           column="flavor"/>
        <result property="os"               column="os"/>
        <result property="hostname"         column="hostname"/>
        <result property="hostId"           column="host_id"/>
    </resultMap>

    <!-- Get ALL                    ( tx_id INT )-->
    <select id="getAll" resultMap="allHostMeta" statementType="CALLABLE">
        {CAll cfe_03.select_all_host_metas(#{param1})}
    </select>
    <resultMap id="allHostMeta" type="com.teragrep.cfe18.handlers.entities.HostMeta">
        <result property="id"               column="id"/>
        <result property="arch"             column="arch"/>
        <result property="releaseVersion"   column="release_version"/>
        <result property="flavor"           column="flavor"/>
        <result property="os"               column="os"/>
        <result property="hostname"         column="hostname"/>
        <result property="hostId"           column="host_id"/>
    </resultMap>

    <!-- Delete                     ( proc_host_meta_id INT )-->
    <select id="delete" statementType="CALLABLE">
        {CALL cfe_03.delete_host_meta(#{param1})}
    </select>

    <!-- ID return map -->
    <resultMap id="insertedID" type="com.teragrep.cfe18.handlers.entities.HostMeta">
        <result property="id"       column="id"/>
    </resultMap>



    <!-- Insert new interface for host_meta -->
    <select id="addInterface_type" resultMap="interfaceId" statementType="CALLABLE">
        {CALL
        cfe_03.add_interface(#{param1},#{param2})}
    </select>
    <resultMap id="interfaceId" type="com.teragrep.cfe18.handlers.entities.InterfaceType">
        <result property="host_meta_id" column="last"/>
    </resultMap>


    <!-- Insert Ip address for host_meta -->
    <select id="addIpAddress" resultMap="ipId" statementType="CALLABLE">
        {CALL cfe_03.add_ip_address(#{param1},#{param2})}
    </select>
    <resultMap id="ipId" type="com.teragrep.cfe18.handlers.entities.IPAddress">
        <result property="host_meta_id" column="last"/>
    </resultMap>




    <!-- GET ALL Ip -->
    <select id="getAllHostMetaIp" resultMap="allHostMetaIp" statementType="CALLABLE">
        {CAll cfe_03.retrieve_all_host_ip_addresses(#{param1})}
    </select>
    <resultMap id="allHostMetaIp" type="com.teragrep.cfe18.handlers.entities.IPAddress">
        <result property="ipAddress" column="ip_address"/>
        <result property="host_meta_id" column="host_meta_id"/>
    </resultMap>


    <!-- GET ALL Interface -->
    <select id="getAllHostMetaInterface" resultMap="allHostMetaInterface" statementType="CALLABLE">
        {CAll cfe_03.retrieve_all_host_interfaces(#{param1})}
    </select>
    <resultMap id="allHostMetaInterface" type="com.teragrep.cfe18.handlers.entities.InterfaceType">
        <result property="interfaceType" column="interface"/>
        <result property="host_meta_id" column="host_meta_id"/>
    </resultMap>


    <!-- Delete -->
    <select id="deleteIp" statementType="CALLABLE">
        {CALL cfe_03.remove_hostmeta_ip(#{param1})}
    </select>

    <select id="deleteInterface" statementType="CALLABLE">
        {CALL cfe_03.remove_hostmeta_interface(#{param1})}
    </select>


</mapper>

