<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.HubMapper">

    <!-- Insert hub -->
    <select id="create" resultMap="hubId" statementType="CALLABLE">
        {CALL cfe_18.insert_cfe_hub(#{param1},#{param2},#{param3})}
    </select>
    <resultMap id="hubId" type="com.teragrep.cfe18.handlers.entities.Hub">
        <result property="id" column="id"/>
    </resultMap>

    <!-- Retrieve Hub by ID -->
    <select id="get" resultMap="Hub" statementType="CALLABLE">
        {CALL cfe_18.select_cfe_hub(#{param1},#{param2})}
    </select>

    <!-- GET ALL Hubs -->
    <select id="getAll" resultMap="Hub" statementType="CALLABLE">
        {CALL cfe_18.select_all_hubs(#{param1})}
    </select>

    <resultMap id="Hub" type="com.teragrep.cfe18.handlers.entities.Hub">
        <result property="id" column="id"/>
        <result property="hostId" column="host_id"/>
        <result property="fqHost" column="hub_fq_host"/>
        <result property="md5" column="md5"/>
        <result property="ip" column="ip"/>
    </resultMap>


    <!-- Delete -->
    <select id="delete" statementType="CALLABLE">
        {CALL cfe_18.delete_hub(#{param1})}
    </select>

</mapper>

