<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.LinkageMapper">

    <!-- insert         ( proc_host_group_id INT, proc_capture_group_id INT ) -->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL cfe_18.insert_g_x_g(#{param1},#{param2})}
    </select>


    <!-- get            ( linkage_id INT, tx_id INT ) -->
    <select id="get" resultMap="linkage" statementType="CALLABLE">
        {CALL cfe_18.retrieve_g_x_g_details(#{param1},#{param2})}
    </select>
    <resultMap id="linkage" type="com.teragrep.cfe18.handlers.entities.Linkage">
        <result property="id"               column="id"/>
        <result property="hostGroupId"      column="host_group_id"/>
        <result property="captureGroupId"   column="capture_group_id"/>
    </resultMap>


    <!-- Get ALL        ( tx_id INT ) -->
    <select id="getAll" resultMap="all" statementType="CALLABLE">
        {CALL cfe_18.select_all_linkages(#{param1})}
    </select>
    <resultMap id="all" type="com.teragrep.cfe18.handlers.entities.Linkage">
        <result property="id"               column="id"/>
        <result property="hostGroupId"      column="host_group_id"/>
        <result property="captureGroupId"   column="capture_group_id"/>
    </resultMap>


    <!-- Delete         ( linkage_id INT ) -->
    <select id="delete" statementType="CALLABLE">
        {CALL cfe_18.delete_linkage(#{param1})}
    </select>


    <!-- ID return map -->
    <resultMap id="insertedID" type="com.teragrep.cfe18.handlers.entities.Linkage">
        <result property="id"       column="id"/>
    </resultMap>

</mapper>

