<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.SinkMapper">

    <!-- insert             ( protocol VARCHAR(20), ip_address VARCHAR(16), sink_port VARCHAR(5),
                                        flow_id INT ) -->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL flow.insert_sink(#{param1},#{param2},#{param3},#{param4})}
    </select>


    <!-- get                ( sink_id INT, tx_id INT ) -->
    <select id="get" resultMap="sink" statementType="CALLABLE">
        {CALL flow.select_sink(#{param1},#{param2})}
    </select>
    <resultMap id="sink" type="com.teragrep.cfe18.handlers.entities.Sink">
        <result property="id"           column="id"/>
        <result property="ipAddress"    column="ip"/>
        <result property="port"         column="port"/>
        <result property="protocol"     column="protocol"/>
        <result property="flowId"       column="flow_id"/>
    </resultMap>


    <!-- GET ALL Sinks      ( tx_id INT ) -->
    <select id="getAll" resultMap="all" statementType="CALLABLE">
        {CALL flow.select_all_sinks(#{param1})}
    </select>
    <resultMap id="all" type="com.teragrep.cfe18.handlers.entities.Sink">
        <result property="id"           column="id"/>
        <result property="ipAddress"    column="ip"/>
        <result property="port"         column="port"/>
        <result property="protocol"     column="protocol"/>
        <result property="flowId"       column="flow_id"/>
    </resultMap>


    <!-- Delete             ( sink_id INT ) -->
    <select id="delete" statementType="CALLABLE">
        {CALL flow.delete_sink(#{param1})}
    </select>


    <!-- ID return map -->
    <resultMap id="insertedID" type="com.teragrep.cfe18.handlers.entities.Sink">
        <result property="id"       column="id"/>
    </resultMap>

</mapper>

