<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.StorageMapper">


    <!-- insert         ( proc_cfe_type VARCHAR(6), proc_storage_name VARCHAR(255) )-->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL flow.insert_storage(#{param1},#{param2})}
    </select>


    <!-- insert         ( capture_id INT, storage_id INT ) -->
    <select id="createCaptureStorage" resultMap="insertedIDCapture" statementType="CALLABLE">
        {CALL flow.add_storage_for_capture(#{param1},#{param2})}
    </select>


    <!-- get            ( storage_id INT, tx_id INT ) -->
    <select id="getStorage" resultMap="storage" statementType="CALLABLE">
        {CALL flow.select_storage(#{param1},#{param2})}
    </select>
    <resultMap id="storage" type="com.teragrep.cfe18.handlers.entities.Storage">
        <result property="id"           column="id"/>
        <result property="storageName"  column="storage_name"/>
        <result property="storageType"      column="storage_type"/>
    </resultMap>


    <!-- get            ( capture_id INT, tx_id INT ) -->
    <select id="getCaptureStorage" resultMap="captureStorage" statementType="CALLABLE">
        {CALL cfe_18.select_capture_storages(#{param1},#{param2})}
    </select>
    <resultMap id="captureStorage" type="com.teragrep.cfe18.handlers.entities.CaptureStorage">
        <result property="capture_d"    column="capture_id"/>
        <result property="storage_id"    column="storage_id"/>
        <result property="storage_name"  column="storage_name"/>
    </resultMap>


    <!-- GET ALL        ( tx_id INT ) -->
    <select id="getAll" resultMap="allStorages" statementType="CALLABLE">
        {CALL flow.select_all_storages(#{param1})}
    </select>
    <resultMap id="allStorages" type="com.teragrep.cfe18.handlers.entities.Storage">
        <result property="id"           column="id"/>
        <result property="storageName"  column="storage_name"/>
        <result property="storageType"      column="storage_type"/>
    </resultMap>



    <!-- GET ALL        ( tx_id INT ) -->
    <select id="getAllCapture" resultMap="allCaptureStorages" statementType="CALLABLE">
        {CALL cfe_18.select_all_capture_storages(#{param2})}
    </select>
    <resultMap id="allCaptureStorages" type="com.teragrep.cfe18.handlers.entities.CaptureStorage">
        <result property="capture_id"    column="capture_id"/>
        <result property="storage_id"    column="storage_id"/>
        <result property="storage_name"  column="storage_name"/>
    </resultMap>


    <!-- Delete         ( proc_storage_id INT ) -->
    <select id="delete" statementType="CALLABLE">
        {CALL flow.delete_storage(#{param1})}
    </select>


    <!-- Delete         ( capture_id INT, proc_storage_id INT ) -->
    <select id="deleteCaptureStorage" statementType="CALLABLE">
        {CALL cfe_18.delete_capture_storage(#{param1},#{param2})}
    </select>


    <!-- ID return map -->
    <resultMap id="insertedID" type="com.teragrep.cfe18.handlers.entities.Storage">
        <result property="id"       column="id"/>
    </resultMap>

    <!-- ID return map -->
    <resultMap id="insertedIDCapture" type="com.teragrep.cfe18.handlers.entities.CaptureStorage">
        <result property="capture_id"       column="id"/>
    </resultMap>

</mapper>