<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teragrep.cfe18.StorageMapper">


    <!-- insert         ( proc_cfe_type VARCHAR(6), proc_storage_name VARCHAR(255) )-->
    <select id="create" resultMap="insertedID" statementType="CALLABLE">
        {CALL flow.insert_storage(#{param1},#{param2})}
    </select>


    <!-- get            ( storage_id INT, tx_id INT ) -->
    <select id="get" resultMap="storage" statementType="CALLABLE">
        {CALL flow.select_storage(#{param1},#{param2})}
    </select>
    <resultMap id="storage" type="com.teragrep.cfe18.handlers.entities.Storage">
        <result property="id"           column="id"/>
        <result property="storageName"  column="storage_name"/>
        <result property="cfeType"      column="storage_type"/>
    </resultMap>


    <!-- GET ALL        ( tx_id INT ) -->
    <select id="getAll" resultMap="allStorages" statementType="CALLABLE">
        {CALL flow.select_all_storages(#{param1})}
    </select>
    <resultMap id="allStorages" type="com.teragrep.cfe18.handlers.entities.Storage">
        <result property="id"           column="id"/>
        <result property="storageName"  column="storage_name"/>
        <result property="cfeType"      column="storage_type"/>
    </resultMap>


    <!-- Delete         ( proc_storage_id INT ) -->
    <select id="delete" statementType="CALLABLE">
        {CALL flow.delete_storage(#{param1})}
    </select>


    <!-- ID return map -->
    <resultMap id="insertedID" type="com.teragrep.cfe18.handlers.entities.Storage">
        <result property="id"       column="id"/>
    </resultMap>

</mapper>